<%- include('./partials/header.ejs') %>

<body class="bg-slate-900">
  <div class="back ml-10 mt-6 absolute">
    <a href="/">
      <svg
        class="stroke-slate-100 hover:stroke-slate-500"
        width="60px"
        height="60px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15 19.9201L8.47997 13.4001C7.70997 12.6301 7.70997 11.3701 8.47997 10.6001L15 4.08008"
          stroke=""
          stroke-width="1.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </a>
  </div>
  <div class="flex h-screen">
    <div class="m-auto text-slate-700 text-center">
      <p class="font-bold text-8xl">404 ERROR</p>
      <p class="text-5xl mt-1">This page does not exist</p>
    </div>
  </div>
</body>

<%- include('./partials/footer.ejs') %>
