<%- include('./partials/header.ejs') %>

<body class="bg-slate-900">
  <div class="back ml-10 mt-6">
    <a href="/">
      <svg
        class="stroke-slate-100 hover:stroke-slate-500"
        width="60px"
        height="60px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15 19.9201L8.47997 13.4001C7.70997 12.6301 7.70997 11.3701 8.47997 10.6001L15 4.08008"
          stroke=""
          stroke-width="1.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </a>
  </div>
  <div class="flex items-center justify-center mt-72">
    <form action="/<%= todo.id %>?_method=PUT" method="POST">
      <input
        type="text"
        name="title"
        id="title"
        class="bg-inherit focus:outline-none text-slate-100 text-center text-6xl"
        value="<%= todo.title %>"
        placeholder="Create a new todo..."
        autofocus
        onfocus="var temp_value=this.value; this.value=''; this.value=temp_value" /><br />
      <center>
        <button type="submit" class="text-slate-100 mt-10">
          <svg
            class="fill-emerald-500 hover:fill-slate-800"
            width="70px"
            height="70px"
            viewBox="0 0 24 24"
            fill=""
            xmlns="http://www.w3.org/2000/svg">
            <g id="style=fill">
              <g id="add-circle">
                <path
                  id="Subtract"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M1.25 12C1.25 6.06294 6.06294 1.25 12 1.25C17.9371 1.25 22.75 6.06294 22.75 12C22.75 17.9371 17.9371 22.75 12 22.75C6.06294 22.75 1.25 17.9371 1.25 12ZM12 7.00738C12.4142 7.00739 12.75 7.34317 12.75 7.75739L12.75 11.25L16.25 11.25C16.6642 11.25 17 11.5858 17 12C17 12.4142 16.6642 12.75 16.25 12.75L12.75 12.75L12.75 16.2426C12.75 16.6568 12.4142 16.9926 12 16.9926C11.5857 16.9926 11.25 16.6568 11.25 16.2426L11.25 12.75L7.76476 12.75C7.35055 12.75 7.01476 12.4142 7.01476 12C7.01477 11.5857 7.35055 11.25 7.76477 11.25L11.25 11.25L11.25 7.75738C11.25 7.34317 11.5858 7.00738 12 7.00738Z"
                  fill="" />
              </g>
            </g>
          </svg>
        </button>
      </center>
    </form>
  </div>
</body>

<%- include('./partials/footer.ejs') %>
